.post-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 70vw;
  margin: 10px auto;
}

.title {
  font-size: 25px;
  margin: 0;
}

.name {
  font-size: 18px;
  font-style: bold;
  margin: 0;
}

.body {
  font-size: 14px;
  margin: 0;
}

.title:hover {
  color: rgb(16, 136, 172);
}

.title {
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgb(16, 136, 172);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.title:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
